* {
	font-family: "Dosis", Arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: background-repeat;
}

.mainC {
	height: 0 auto;
	width: 1263px;
	margin: 0 auto;
}

header {
	margin: 0 auto;
}

.titles {
	background-color: #fff;
	color: black;
	width: 978px;
	height: 150px;
	margin: 0 auto;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.socialsearch {
	float: right;
	height: 40px;
}

.topSearch {
	width: 120px;
	height: 35px;
	padding: 5px;
	background-color: #ccc;
	border-radius: 16px;
	font-size: 12px;
	border: none;
	float: right;
	margin-bottom: 10px;
	font-style: italic;
}

.rightSearch {
	width: 300px;
	height: 35px;
	padding: 5px;
	background-color: #ccc;
	margin: 0 auto;
	border-radius: 16px;
	font-size: 12px;
	border: none;
	float: left;
	margin-bottom: 10px;
}

h1 {
	color: black;
}

.separator {
	border: 1px 0 solid #ccc;
	padding: 2px;
	width: 978px;
	margin: 0 auto;
}

.navigation {
	background-color: #fff;
	color: black;
	width: 978px;
	height: 150px;
	margin: 0 auto;

}

nav {
	background-color: #fff;
	width: 100%;
	height: 100px;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	padding: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    /*float: right;*/
    display: inline-block;
    word-spacing: 5px;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

li a:hover {
    background-color: #F6FA80; /*sunny green*/
    color: #000;
}

li a:link {
    background-color: #fff;
    color: #000;
}

.aHomepagetext {
	font-size: 2em;
	text-transform: capitalize;
	text-align: center;
}

.aHomepagesubtitle {
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

figure {
	background-color: #fff;
	width: 978px;
	height: 524px;
	margin: 0 auto;
	border: 0.5px solid #ccc;
}

.headerImage {
	padding: 5px;
}

figcaption {
	padding: 10px;
}

.clear {
	clear: both;
}

.separatorImg {
	border: 1px 0 solid #ccc;
	padding: 20px;
	width: 978px;
	margin: 0 auto;
}

.whiteBackground {
	background-color: #fff;
	height: auto;
}

.linkH {
	font-weight: bolder;
	font-size: 14px;
	margin: 0 auto;
	text-decoration: none;
}

.blogTitle {
	font-size: 30px;
	font-weight: bold;
	padding: 1px;
}

.byline {
	padding: 1px;
	margin: 0;
	font-size: 14px;
	color: #ccc;
}

.blogImage {
	border: 1px solid #ccc;
	padding: 3px;
	background-color: #fff;
	width: 230px;
	height: 180px;
	float: left;
	margin-right: 5px;
}

.blogEntry {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	text-align: justify;
}

.blogContent {
	height: 1000px;
	width: 65%;
	padding-left: 138px;
	/*border: 1px solid #ccc;*/
	float: left;
	background-color: #fff;
	
}


.rightsidenav {
	width: 35%;
	height: 1000px;
	float: right;
	/*border: 1px solid #ccc;*/
	background-color: #fff;
	padding-right: 125px;
}

.rtImg {
	width: 79px;
	height: 72px;
	float: left;
	margin-right: 5px;
	border: 1px solid #ccc;
	padding: 1px;
	background-color: #fff;
}

.rtList {
	list-style-type: disc;
}

.btn_article {
	width: 120px;
	height: 37px;
	padding: 2px;
	background-color: #F6FA80;
	border-radius: 16px;
	font-size: 12px;
	border: none;
	float: right;
	margin-bottom: 10px;
}

.btn_article a:link {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-size: 14px;
}

.btn_article a:hover {
	background-color: #F6FA80;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.hrBlog {
	border: 1px dashed #ccc;
	width: 600px;
	margin: 0 auto;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-align: justify;
	padding: 10px;
}

.articleHolder {
	padding: 0;
	margin: 0;
	width: 628px;
	height: auto;
	/*border: 1px solid #ccc;*/
}

.separatorFt {
	border: 1px 0 solid #ccc;
	padding: 10px;
	width: 100%
	margin: 0 auto;
}

.footerarea {
	width: 100%;
	height: 407px;
	margin: 0 auto;
}

.footerc1 , 
.footerc2 , 
.footerc3 {
	float: left;
	/*border: 1px solid #ccc;*/
	height: 300px;
	width: 400px;
	margin: 10px;
	padding: 50px;
}

.archive_select {
	width: 120px;
	height: 37px;
	padding: 2px;
	background-color: #fff;
	font-size: 14px;
	border: none;
	margin-bottom: 10px;
}

.ft_col_title {
	text-transform: uppercase;
	padding-bottom: 30px;
}

.footercopy {
	font-style: italic;
	font-size: 1em;
	letter-spacing: 1px;
	padding: 5px;
}

.ftLinks {
	padding-bottom: 5px;
	text-decoration: none;
	font-size: 14px;
}

.ftaboutText {
	font-family: 'Raleway', sans-serif;	
	text-align: justify;
	font-size: 14px;

}







